<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
Kiido.ph is a Social platform for Polytechnic University of the philippines, its not just social networking but also for learning
students can interact with other students and also teachers within the University. We are the first school in the Philippines that has a 
Mobile Portal and now We are also the first School in the Philippines that has a social networking site.
</p>
<p>
<b>Features:</b>
<ul>
<li><b>Private Message</b></li>
  - Type "to" then "username" then your message *note you can only message those people if both of you are connected to each other.
<li><b>Admire People</b></li>
  - click the user you want to admire and click admire
<li><b>Profile page</b></li>
  - People will not see the list of persons that you admire but they will see how many posts you have and the people that admire you
<li><b>Home</b></li>
  - You can post just like Tweeting or posting on Facebook
<li><b>Users</b></li>
  - You can see all the Pupians in this section and you can admire them when ever you want
<li><b>Settings</b></li>
  - In this section you can update your Primary Photo and your information
<li><b>Students</b></li>
  - In here you can directly Login your SIS Account without going to the PUP website
</ul>
</p>
