<% provide(:title, 'Welcome to Kiiido.ph') %>

<body class="wraparound">
 
 <home><%= link_to image_tag("http://i48.tinypic.com/k3876g.png"), root_path  %></home>
 <div id="alignments"> 
  <div id="image"><a href="#"/> <img src="http://i49.tinypic.com/nb52d4.png" class="grayscale"/></a></div>    
 
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<center><color1>Social network just for teens</color1></center>
</br>
</br>
<center>March 1, 2013</center>
</div>


<div class="row">
  <div id="alignment">
  <div id="video"><iframe width="480" height="360" src="http://www.youtube.com/embed/V0iVtnwxTjM" frameborder="0" allowfullscreen></iframe></div>
<div class="rows">

 


  </div>
</br>

</br>

</br> 

    </div>
    </body>